* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    padding: 0 30px;

    background-color: #192a3a;

    position: relative;
}

.logo img {
    width: 45px;
}

.nav {
    display: flex;
    gap: 30px;

    margin-left: 30px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    gap: 12px;

    margin-left: auto;
}

.menu-mobile {
    display: none;
}


@media (max-width: 768px) {

    .header {
        height: 70px;

        padding: 0 20px;

        justify-content: space-between;
    }


    /* Esconde os links */
    .nav {
        display: none;
    }


    /* Esconde Login e Cadastro */
    .header-buttons {
        display: none;
    }


    /* Mostra o hambúrguer */
    .menu-mobile {
        display: block;

        background: transparent;

        border: none;

        color: white;

        font-size: 28px;

        cursor: pointer;
    }

}